/* variables */
$color_background: #FFFFFF;
$color_text: #000000;
$color_text_reverse:#FFFFFF;
$color_links: #0096D6;
$color_light: #333333;

$footer_height:50px;
$header_footer_padding: 10px 10px;
$max_width:1400px;

$preferred_text_width: 614px;





/* global rules */
html{
	background-color:$color_background;
	color:$color_text;
	height:100%;
}
body{
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height:120%;
  min-height:100%;
  position:relative;
  overflow-x:hidden;
}
body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
#page-container{
	padding: 79px 0 19px 0;
	@media only screen and (max-width: 400px) {
		padding-top:57px;
	}
	overflow-x:hidden;
}
section{
	padding-right:10px;
	padding-left:10px;
}

a{
  color: #00B7FF;
}
em{
	color:inherit;
}
.relative{
	position:relative;
}

.cta{
	display: inline-block;
    text-align: center;
    cursor: pointer;
    width: auto;
    min-width: 200px;
    max-width:100%;
    background-color: #0096D6;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    padding: 15px 20px;
    margin-right:10px;
    margin-bottom:10px;
    &:hover{
    	text-decoration: none;
	    filter: alpha(opacity=80);
	    -moz-opacity: 0.8;
	    opacity: 0.8;
	    background-color: #117EAD;
    	border-color: #117EAD;
    	color:#ffffff;
    }
}
.cta-secondary{
	background-color:#ffffff;
	color:#0096D6;
	&:hover{
		background-color:#ffffff;
		color:#0096D6;
	}
}

.uk-button{
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    display: inline-block;
    color: #0099d6;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    background-color: #0099dd;
    &:hover{
    	background-color: #117EAD;
   		border-color: #117EAD;
   		color:white;
    }
}

.border{
	display: block;
    width: 80px;
    height: 2px;
    background: #060606;
    margin: 0 auto;
}

/* header */
.header{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:auto;
	background-color:$color_light;
	color:$color_text_reverse;
	padding: $header_footer_padding;

	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);

	.site-name{
		a{
			color:#ffffff;
			&:hover{
				text-decoration: none;
			}
		}
		.logo{
			font-size:40px;
			display:inline-block;
			margin-right:5px;
			position:relative;
			top:10px;

			@media only screen and (max-width: 400px) {
				display:none;
			}
		}
		.name{
			font-weight:700;
			font-size:150%;
		}
		.subtext{
			font-weight:100;
			font-size:80%;
		}
	}
	#header-hamburger{
		position:absolute;
		top:15px;
		@media only screen and (max-width: 400px) {
			top:5px;
		}
		right:0;
		width:25px;
		height:25px;
		.line{
			width: 25px;
			height: 2px;
			background-color: $color_text_reverse;
			display: block;
			margin: 5px 0px 5px auto;
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
		&.active{
			.line:nth-child(1){
				-webkit-transform: translateY(7px) rotate(45deg);
	    		transform: translateY(7px) rotate(45deg);
			}
			.line:nth-child(2){
				opacity:0;
			}
			.line:nth-child(3){
				webkit-transform: translateY(-7px) rotate(-45deg);
	    		transform: translateY(-7px) rotate(-45deg);
			}
		}
	}
}


/* footer */
.footer{
  background-color:$color_light;
  color:$color_text_reverse;
  padding: $header_footer_padding;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;

  .copyright{

  }
  .footer-items{
  	list-style-type: none;
  	padding:0;
  	margin:0;
  	li{
  		display:inline-block;
  		padding-right:10px;
  	}
  }
}


/* body */


/* wysiwyg */




/* Paragraphs */
.generic-html{
	padding:20px 0;
	max-width:800px;
	margin:0 auto;
	.title{
		text-align:center;
		font-weight:700;
		font-size:150%;
		padding-bottom:20px;
	}
	.wysiwyg{
		text-align:left;
		max-width:$preferred_text_width;
		margin:0 auto;
		ul{
			
		}
	}
}

.carousel_with_title{
	padding:0;
	.background-wrapper{
		padding:50px 10px;
	}
	color:white;
	text-align:center;
	.carousel-title{
		font-size:300%;
		letter-spacing: .15em;
		height:40px;
		@media only screen and (max-width: 600px) {
			font-size:200%;
		}
	}
	.border{
		background-color:white;
		margin-bottom:50px;
	}
	.uk-slidenav{
		color:white;
		@media only screen and (max-width: 600px) {
			display:none;
		}
	}
	.uk-slideshow{
		position:relative;
		.uk-slideshow-items{
			min-height:150px!important;
			.slide{
				.wysiwyg{
					max-width:$preferred_text_width;
					margin:0 auto;
				}
			}
		}
	}
}


.hero_with_buzzwords{
	padding:0;
	color:white;
	text-align:center;

	.background-wrapper{
		min-height:100px;
		padding:50px 100px;
		@media only screen and (max-width: 600px) {
			padding-left:10px;
			padding-right:10px;
		}
	}
	.hero-title{
		color:white;
		margin-bottom:0px;
	}
	.buzzwords{
		padding-top:20px;
		padding-bottom:20px;
		font-size:120%;
		font-weight:700;
	}
}

.experience{
	padding:0;
	.background-wrapper{
		padding:50px 10px;
	}
	color:white;
	text-align:center;
	.carousel-title{
		font-size:300%;
		letter-spacing: .15em;
		height:40px;
		@media only screen and (max-width: 600px) {
			font-size:200%;
		}
	}
	.border{
		background-color:white;
		margin-bottom:50px;
	}
	.cards{
		.card{
			position:relative;
			margin-top:20px;
			margin-bottom:20px;
			text-align: left;
		}
		.card-wrapper{
			height:100%;
			background-color:white;
			color:black;
			padding:10px;
			opacity:0.925;
			border-radius:5px;
		}
		.card-header{
			margin-bottom:10px;
		}
		.title{
			display:inline-block;
			font-size:130%;
		}
		.icon{
			display:inline-block;
			font-size:30px;
		}
		.bullets{
			margin-left:2px;
		}
	}
}


/* Forms */

form{
	padding:20px 0;
	max-width:$preferred_text_width;
	margin:0 auto;
}
  
/*contact form labels - unused*/
form  label {
    margin-bottom: 5px!important;
    font-weight: 700!important;
    font-size: 100%!important;
}

/*contact form inputs*/
form input {
    width: 100%!important;
    border-radius: 5px!important;
    border: 1px solid #CCCCCC!important;
    padding: 7px!important;
}

/*contact form textarea*/
form textarea {
    width: 100%!important;
    border-radius: 5px!important;
    border: 1px solid #CCCCCC!important;
    padding: 7px!important;
    background-color: white!important;
    margin-bottom: 20px!important;
}
form input[type="submit"]{
	text-align: center;
    cursor: pointer;
    width: auto;
    min-width: 200px;
    background-color: #0096D6;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    padding: 15px 20px;
}