<!-- footer.twig -->
{# {{ dump(header_footer.footer) }} #}

<div class="footer">

	<ul class="footer-items">
	{% for menu_item in header_footer.footer %}
		<a href="{{ menu_item.url }}"><li>{{ menu_item.title }}</li></a>
	{% endfor %}
	</ul>
	<div class="copyright">&#169; The Code Apothecary Corporation</div>
</div>