<!-- footer.twig -->
{# {{ dump(header_footer.footer) }} #}

<div class="footer">

	<ul class="footer-items">
	{% for menu_item in header_footer.footer %}
		<a href="{{ menu_item.field_link[0].uri }}"><li>{{ menu_item.field_link[0].title }}</li></a>
	{% endfor %}
	</ul>
	<div class="copyright">&#169; {{ header_footer.site_copyright }}</div>
</div>